In [63]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
df=pd.DataFrame(df)
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [15]:
## Find the Pokemon with "Nan" values and how many are there?
import numpy as np
di=df.index[np.where(pd.isnull(df))[0]]
df.iloc[di]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
775,705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
788,712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True

In [77]:
a=df.loc[df['Legendary']==True]
a

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [66]:
leg_df=df.loc[df.loc[:,'Legendary']==True]
print( leg_df)

       #                 Name    Type 1    Type 2   HP  Attack  Defense  \
156  144             Articuno       Ice    Flying   90      85      100
157  145               Zapdos  Electric    Flying   90      90       85
158  146              Moltres      Fire    Flying   90     100       90
162  150               Mewtwo   Psychic       NaN  106     110       90
163  150  MewtwoMega Mewtwo X   Psychic  Fighting  106     190      100
..   ...                  ...       ...       ...  ...     ...      ...
795  719              Diancie      Rock     Fairy   50     100      150
796  719  DiancieMega Diancie      Rock     Fairy   50     160      110
797  720  HoopaHoopa Confined   Psychic     Ghost   80     110       60
798  720   HoopaHoopa Unbound   Psychic      Dark   80     160       60
799  721            Volcanion      Fire     Water   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
156       95      125     85           1       True
157      125       90    100           1       True
158      125       85     90           1       True
162      154       90    130           1       True
163      154      100    130           1       True
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[65 rows x 12 columns]

In [90]:
## Find the mean of the Pokemons with: 
# 'Defense' >50, 
# 'Speed'>75, 
# 'Generation' not more than 3.0
# 'Total' not less than 400
dff=df.loc[(df['Defense']>50) & (df['Speed']>75) & (df['Generation']>3.0)&(df['Defense']+df['Speed']+df['Sp. Atk']+df['Sp. Def']+df['Attack']+df['HP'])]
dff

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
443,398,Staraptor,Normal,Flying,85,120,70,50,60,100,4,False
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
464,417,Pachirisu,Electric,NaN,60,45,70,45,90,95,4,False
466,419,Floatzel,Water,NaN,85,105,55,85,50,115,4,False
477,429,Mismagius,Ghost,NaN,60,60,60,105,105,105,4,False
483,435,Skuntank,Poison,Dark,103,93,67,71,61,84,4,False
497,448,Lucario,Fighting,Steel,70,110,70,115,70,90,4,False
498,448,LucarioMega Lucario,Fighting,Steel,70,145,88,140,70,112,4,False
519,468,Togekiss,Fairy,Flying,85,50,95,120,115,80,4,False
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
521,470,Leafeon,Grass,NaN,65,110,130,60,65,95,4,False
525,474,Porygon-Z,Normal,NaN,85,80,70,135,75,90,4,False
555,496,Servine,Grass,NaN,60,60,75,60,75,83,5,False
582,523,Zebstrika,Electric,NaN,75,100,63,80,63,116,5,False
587,528,Swoobat,Psychic,Flying,67,57,55,77,55,114,5,False
599,539,Sawk,Fighting,NaN,75,125,75,30,75,85,5,False
605,545,Scolipede,Bug,Poison,60,100,89,55,69,112,5,False
613,553,Krookodile,Ground,Dark,95,117,80,65,70,92,5,False
628,567,Archeops,Rock,Flying,75,140,65,112,65,110,5,False
642,581,Swanna,Water,Flying,75,87,63,87,63,98,5,False
645,584,Vanilluxe,Ice,NaN,71,95,85,110,95,79,5,False
647,586,Sawsbuck,Normal,Grass,80,100,70,60,70,95,5,False
725,657,Frogadier,Water,NaN,54,63,52,83,56,97,6,False
728,660,Diggersby,Normal,Ground,85,56,77,50,77,78,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
765,695,Heliolisk,Electric,Normal,62,55,52,109,94,109,6,False
772,702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False

0      False
1      False
2      False
3      False
4      False
       ...
795     True
796     True
797     True
798     True
799     True
Name: Legendary, Length: 800, dtype: bool